.account-schema {
	margin-bottom : 3rem;
	.bank-card {width : 288px;}
	.account-btns {
		.x-area-size(100%, 60px); margin-top : 90px; border-bottom : 3px solid #eee;
		.nav > li > a.btn-success:hover, .nav > li > a.btn-success:focus {background-color : #449D44;}
		.btn {font-weight: 700;}
	}
}

@media (max-width: 767px) {
	.account-schema .bank-card {width : 100%;}
}

.account-detail {
	> h4 { margin-bottom : 1.5rem; .x-font-size(16px); color : @x-font-color-midGray; font-weight: 700;}
	.query-form {
		padding-top : 1.5rem; margin-bottom:10px;
		// .form-group {margin-bottom : 5px}
		.section {
			position : relative;
			.to-label {position : absolute; display : block; left : -5px; vertical-align: middle; .x-adjust-leading-to(2.5, 1rem);}
		}
		.btn-warning {margin-top:48px;}
	}
	.query-result {}
}
@media (max-width: 767px) {
	.account-detail {
		.control-label {padding-top: 7px; text-align : right;}
		.btn-warning {margin-top:0px;}
	}
}

.account-modal {
	h5 {margin-bottom : 1rem;}
	.settle-detail, .customer-detail {
		margin-bottom : 20px;
		.dl-horizontal dt {width : 100px;}
		.dl-horizontal dd {margin-left : 100px;}
	}
}