.ix-card {
	margin : 10px 0;
	.x-area-size(300px, 175px);
	.ix-card-header {
		position : relative;
		background: transparent;
		border-bottom-color : transparent;
	}
	.ix-card-body {
		background: transparent; padding : 5px 15px;
	}
	.ix-card-footer {
		.x-clearfix();
		padding : 5px 15px;
		background: transparent;
		border-top-color : transparent;
	}
}
@ix-card-bg : #fff;
@ix-card-title-color : #676767;
@ix-card-cash-color : #262626;
@ix-card-color : #626262;

.bank-card {
	background-color : #fff; color : @ix-card-color; .x-area-size(100%, 175px); .x-font-size(14px); cursor : pointer;
	.ix-card-header > .panel-title {
		.x-font-size(1rem); font-weight: 700; vertical-align: middle;
		& > .label {margin-right : .5rem;}
	}
	.ix-card-header > .panel-title, .bank, .shops {
		color : @ix-card-title-color;
	}
	
	.withdraw {
		position : absolute; right : .5rem; top : .5rem; height : 2rem; .x-adjust-leading-to(1.5, 1rem); padding : 3px 1rem;
		font-weight: 700; .x-border-radius(20px); color : #fff;
	}
	.cash {
		font-weight: 700; vertical-align: middle; .x-adjust-leading-to(1.5, 2rem);
		& > strong {font-size : 2rem; .x-adjust-leading-to(1, 2rem); color : @ix-card-cash-color;}
		& > span {vertical-align : bottom; }
	}
	.bank {
		.x-font-size(14px); .x-adjust-leading-to(1.5, 14px);
		.name, .num {.x-inlineblock(); margin-right : 1rem; vertical-align: middle;}
	}
	.shops {
		.x-font-size(14px);	 .x-adjust-leading-to(2, 14px, -6px)
	}
	.ix-card-footer {
		padding : 25px 15px 0;
		.btn-link {margin-right : -1rem;}
	}
}

.shop-card {
	.x-area-size(100%, auto); .x-font-size(12px);
	.ix-card-header > .panel-title {
		.x-font-size(16px);
	}
	img.media-object {.x-area-size(100px, 100px);}
	.tags {
		.x-adjust-leading-to(2.5, 1rem);
		.label {vertical-align: middle; margin-right : .5rem; }
	}
	.tags, address, .phone {
		.x-adjust-leading-to(1.5, 12px); margin-bottom : 1rem;
	}
	.btns {
		.x-clearfix(); margin-bottom : 1rem;
		.btn { margin-right : .5rem;}
	}
	.ix-card-footer {
		border-top-color : #ddd; .x-adjust-leading-to(4, 12px, 10px);
		.bootstrap-switch {.x-float(right);}
	}
	
}