.crm-subnav {
	.nav-list {
		margin-bottom:20px; background-color : #F0E4CD;
		.x-border-radius();
		> .navbar-collapse {padding-left : 0;}
		.nav-pills {
			> li > a {color : @site-nav-color; .x-font-size(16px);  font-weight: bold; .x-font-size(14px);}
			> li.active > a, > li.active > a:hover, > li.active > a:focus {
				color : #fff;
				background-color : @site-nav-bg;
			}
			>li > a:hover, > li.active > a:hover {
				color : #fff;
				background-color: lighten(@site-nav-bg, 10%);
			}
		}
	}
}
.crm-body {
	.crm-schema-chart .ix-chart-canvas {width : 100%; height : auto; margin : 0 0 2rem; padding : .5rem; border : 1px solid #eee;}
}

@font-face 
{ font-family: 'ocr_a_extendedregular';
  src: url('../font/ocraext/ocraext.eot');
  src: url('../font/ocraext/ocraext.eot?#iefix') format('embedded-opentype'),
       url('../font/ocraext/ocraext.woff') format('woff'),
       url('../font/ocraext/ocraext.svg#ocr_a_extendedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.crm-params {
    .form-control-static
    {
        .glyphicon { font-size: 18px; top: -1px }
        .glyphicon-ok { color: #390 }
        .glyphicon-minus { color: @x-font-color-lightGray }
    }
    
    .vip-card
    { background: #900; background-size: 300px 188px;
      font-size: 0; color: #fc0; overflow: hidden;
      width: 300px; height: 188px; line-height: 188px;
      position: relative; text-align: center;
      border-radius: 6px;
      img 
      { vertical-align: middle;
        max-height: 100%; max-width: 100%;
      }
      p
      { position: absolute; top: 8px; left: 0; 
        width: 100%; line-height: 1.5; .t-l;
      }
      span { margin: 0 12px; font-weight: bold; font-size: 14px; }
      div
      { position: absolute; bottom: 8px; left: 0; 
        width: 100%; line-height: 1.5;
        font: 14px 'ocr_a_extendedregular';
      }
    }
    .vip-card-tip { width: 300px; color: #999; margin-top: 6px; }
}
#crmRechargeSetsTable td { .v-m; }

.query-panel, .crm-query-panel
{
    padding: 15px 0 0 15px;
    span { .d-ib; margin: -0px 36px 15px 0; font-weight: normal; }
    .date-lbl input, .more-crm-query input,
    { width: 125px; }
    .ml-0 { .ml-0; }
    select, input, .chosen-container { .fc-ib; margin-left: 12px; }
    .btn { width: 100px; }
}
.query-panel .btn { margin: 0 15px 15px 0; float: right }

.crm-query-panel
{
    span { margin-right: 15px; }
    i { .gut; }
    .t-r { margin: 0 15px 15px 0; }
    .t-j { margin-bottom: -15px; }
    .t-j:after { content: ''; .d-ib; width: 100%; height: 0; }
    .btn { margin-left: 15px; }
}

.glyphicon.ok { color: #390; margin-left: 8px;}
.glyphicon.no { color: @x-font-color-lightGray; margin-left: 8px;}

.crm-query-table, .crm-detail { th, td{ .t-c; } }
    
.crm-query-table 
{
    td:nth-child(7), td:nth-child(8), 
    td:nth-child(9), td:nth-child(10)
    { .t-r; }
    td:nth-child(3)
    { .t-l; }
}
.crm-detail
{
    .basic-info
    {
        margin: 25px 0;
        img { float: left; }
        img, div { vertical-align: middle; }
        div { margin-left: 120px; line-height: 34px; }
        li { .d-i; margin-right: 25px; }
        label, span { .d-ib; }
        label { margin-right: 8px; }
        label:after { content: ': ' }
    }
    
    .tab-content { padding-top: 15px; }
    
    #transDetail, #cardLog 
    { 
        th:last-child { width: 300px; } 
        td:last-child { .t-l; }
    }
    
    #transDetail
    {
        td:nth-child(4), td:nth-child(5), td:nth-child(6),
        td:nth-child(7), td:nth-child(8)
        { .t-r; }
    }
}

.crm-pref-table
{
    thead
    {
        th:nth-child(5), th:nth-child(7)
        { .t-c; }
    }
    tbody
    {
        td:nth-child(5), td:nth-child(7)
        { .t-r; }
    }
}

.pref-form
{
    input[type=text], select { .fc-ib; }
    .fwc input { width: 125px }
    .form-group > div > div { margin-top: 6px; }
}

.crm-report-table
{
    thead th { .t-c; }
    .sort
    {
        cursor: pointer;
        span { .d-ib; width: 10px; margin-right: 4px; position: relative; bottom: -1px; line-height: 5px; color: #dedede }
        span:before, span:after { content: ''; .d-ib; }
        span:before { border: 5px solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
        span:after { border: 5px solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
        &.asc span:before { border-bottom-color: #000; }
        &.desc span:after { border-top-color: #000; }
    }
}

.TransSum .crm-report-table thead th:first-child { width: 140px }

.TransDetail
{
    .query-panel
    {
        label { margin-right: 25px; }
        .date-lbl input { width: 110px; }
        [name=keyword] { width: 125px }
        [name=transType] { width: 100px }
        [name=transShopID] { max-width: 125px }
    }
    
    thead th:nth-child(9) { width: 160px; }
}
.modal-trans-detail .modal-dialog 
{
    min-width: 225px; max-width: 320px; margin: 15px auto; 
    font-family: simsun serif;
    .modal-body { width: 225px; margin: 0 auto; }
}









