.crm-subnav {
	.nav-list {
		margin-bottom:20px; background-color : #F0E4CD;
		.x-border-radius();
		> .navbar-collapse {padding-left : 0;}
		.nav-pills {
			> li > a {color : @site-nav-color; .x-font-size(16px);  font-weight: bold; .x-font-size(14px);}
			> li.active > a, > li.active > a:hover, > li.active > a:focus {
				color : #fff;
				background-color : @site-nav-bg;
			}
			>li > a:hover, > li.active > a:hover {
				color : #fff;
				background-color: lighten(@site-nav-bg, 10%);
			}
		}
	}
}
.crm-body {
	.crm-schema-chart .ix-chart-canvas {width : 100%; height : auto; margin : 0 0 2rem; padding : .5rem; border : 1px solid #eee;}
}


.crm-params .form-control-static
{
    .glyphicon { font-size: 18px; top: -1px }
    .glyphicon-ok { color: #390 }
	.glyphicon-minus { color: @x-font-color-lightGray }
}
#crmRechargeSetsTable td { .v-m; }
.crm-query-panel
{
    padding: 15px 0 0 15px;
    label { .d-ib; margin: -0px 15px 15px 0; font-weight: normal; }
    select, input { .fc-ib; margin-left: 12px; }
    .date-lbl input, .more-crm-query input { width: 125px; }
    .ml-0 { .ml-0; }
    span { .gut; }
    .btn { margin-left: 15px; width: 100px; }
    .t-r { margin: 0 15px 15px 0; }
    .t-j { margin-bottom: -15px; }
    .t-j:after { content: ''; .d-ib; width: 100%; height: 0; }
}











