.pic-button{width: 88px; height:35px;;.x-pic-button;}
.pic-button_highlight{width: 88px; height:35px;;.x-pic-button_highlight;}
.pic-checkbox{width: 14px; height:14px;;.x-pic-checkbox;}
.pic-checkbox_on{width: 14px; height:14px;;.x-pic-checkbox_on;}
.pic-coffee{width: 118px; height:126px;;.x-pic-coffee;}
.pic-cry{width: 50px; height:50px;;.x-pic-cry;}
.pic-face-401{width: 124px; height:136px;;.x-pic-face-401;}
.pic-face-404{width: 125px; height:139px;;.x-pic-face-404;}
.pic-like-anim{width: 44px; height:40px;;.x-pic-like-anim;}
.pic-loginout{width: 26px; height:23px;;.x-pic-loginout;}
.pic-news_alert{width: 16px; height:16px;;.x-pic-news_alert;}
.pic-post-email{width: 48px; height:37px;;.x-pic-post-email;}
.pic-post-notice{width: 48px; height:48px;;.x-pic-post-notice;}
.pic-post-speak{width: 48px; height:48px;;.x-pic-post-speak;}
.pic-post-vote{width: 48px; height:40px;;.x-pic-post-vote;}
.pic-profile_bless{width: 196px; height:78px;;.x-pic-profile_bless;}
.pic-sys-setting{width: 26px; height:26px;;.x-pic-sys-setting;}
.pic-tg_collapsed{width: 12px; height:12px;;.x-pic-tg_collapsed;}
.pic-tg_expend{width: 12px; height:12px;;.x-pic-tg_expend;}
.pic-trash{width: 16px; height:13px;;.x-pic-trash;}
.pic-trash_hover{width: 16px; height:13px;;.x-pic-trash_hover;}
.pic-unlike-anim01{width: 26px; height:40px;;.x-pic-unlike-anim01;}
.pic-unlike-anim02{width: 26px; height:40px;;.x-pic-unlike-anim02;}
.pic-user-setting{width: 26px; height:26px;;.x-pic-user-setting;}
.pic-user24{width: 24px; height:24px;;.x-pic-user24;}
.icon-16_beijing{width: 16px; height:16px;;.x-icon-16_beijing;}
.icon-16_go{width: 16px; height:16px;;.x-icon-16_go;}
.icon-16_gongshang{width: 16px; height:16px;;.x-icon-16_gongshang;}
.icon-16_guangda{width: 16px; height:16px;;.x-icon-16_guangda;}
.icon-16_guangfa{width: 16px; height:16px;;.x-icon-16_guangfa;}
.icon-16_guojia{width: 16px; height:16px;;.x-icon-16_guojia;}
.icon-16_huaxia{width: 16px; height:16px;;.x-icon-16_huaxia;}
.icon-16_huifeng{width: 16px; height:16px;;.x-icon-16_huifeng;}
.icon-16_jianshe{width: 16px; height:16px;;.x-icon-16_jianshe;}
.icon-16_jiaotong{width: 16px; height:16px;;.x-icon-16_jiaotong;}
.icon-16_minsheng{width: 16px; height:16px;;.x-icon-16_minsheng;}
.icon-16_mobile{width: 16px; height:16px;;.x-icon-16_mobile;}
.icon-16_nongye{width: 16px; height:16px;;.x-icon-16_nongye;}
.icon-16_pufa{width: 16px; height:16px;;.x-icon-16_pufa;}
.icon-16_qita{width: 16px; height:16px;;.x-icon-16_qita;}
.icon-16_shenzhenfazhan{width: 16px; height:16px;;.x-icon-16_shenzhenfazhan;}
.icon-16_xingye{width: 16px; height:16px;;.x-icon-16_xingye;}
.icon-16_youzheng{width: 16px; height:16px;;.x-icon-16_youzheng;}
.icon-16_zhaoshang{width: 16px; height:16px;;.x-icon-16_zhaoshang;}
.icon-16_zhongguo{width: 16px; height:16px;;.x-icon-16_zhongguo;}
.icon-16_zhongxin{width: 16px; height:16px;;.x-icon-16_zhongxin;}
.icon-32_beijing{width: 32px; height:32px;;.x-icon-32_beijing;}
.icon-32_dingzuo{width: 32px; height:32px;;.x-icon-32_dingzuo;}
.icon-32_gongshang{width: 32px; height:32px;;.x-icon-32_gongshang;}
.icon-32_guangda{width: 32px; height:32px;;.x-icon-32_guangda;}
.icon-32_guangfa{width: 32px; height:32px;;.x-icon-32_guangfa;}
.icon-32_guojia{width: 32px; height:32px;;.x-icon-32_guojia;}
.icon-32_helpself{width: 32px; height:32px;;.x-icon-32_helpself;}
.icon-32_huaxia{width: 32px; height:32px;;.x-icon-32_huaxia;}
.icon-32_huifeng{width: 32px; height:32px;;.x-icon-32_huifeng;}
.icon-32_jianshe{width: 32px; height:32px;;.x-icon-32_jianshe;}
.icon-32_jiaotong{width: 32px; height:32px;;.x-icon-32_jiaotong;}
.icon-32_minsheng{width: 32px; height:32px;;.x-icon-32_minsheng;}
.icon-32_nongye{width: 32px; height:32px;;.x-icon-32_nongye;}
.icon-32_pufa{width: 32px; height:32px;;.x-icon-32_pufa;}
.icon-32_qita{width: 32px; height:32px;;.x-icon-32_qita;}
.icon-32_shanchi{width: 32px; height:32px;;.x-icon-32_shanchi;}
.icon-32_shenzhenfazhan{width: 32px; height:32px;;.x-icon-32_shenzhenfazhan;}
.icon-32_xingye{width: 32px; height:32px;;.x-icon-32_xingye;}
.icon-32_youzheng{width: 32px; height:32px;;.x-icon-32_youzheng;}
.icon-32_zhaoshang{width: 32px; height:32px;;.x-icon-32_zhaoshang;}
.icon-32_zhongguo{width: 32px; height:32px;;.x-icon-32_zhongguo;}
.icon-32_zhongxin{width: 32px; height:31px;;.x-icon-32_zhongxin;}
.icon-48_beijing{width: 48px; height:48px;;.x-icon-48_beijing;}
.icon-48_gongshang{width: 48px; height:48px;;.x-icon-48_gongshang;}
.icon-48_guangda{width: 48px; height:48px;;.x-icon-48_guangda;}
.icon-48_guangfa{width: 48px; height:48px;;.x-icon-48_guangfa;}
.icon-48_guojia{width: 48px; height:48px;;.x-icon-48_guojia;}
.icon-48_huaxia{width: 48px; height:48px;;.x-icon-48_huaxia;}
.icon-48_huifeng{width: 48px; height:48px;;.x-icon-48_huifeng;}
.icon-48_jianshe{width: 48px; height:48px;;.x-icon-48_jianshe;}
.icon-48_jiaotong{width: 48px; height:48px;;.x-icon-48_jiaotong;}
.icon-48_minsheng{width: 48px; height:48px;;.x-icon-48_minsheng;}
.icon-48_nongye{width: 48px; height:48px;;.x-icon-48_nongye;}
.icon-48_pufa{width: 48px; height:48px;;.x-icon-48_pufa;}
.icon-48_qita{width: 48px; height:48px;;.x-icon-48_qita;}
.icon-48_shenzhenfazhan{width: 48px; height:48px;;.x-icon-48_shenzhenfazhan;}
.icon-48_xingye{width: 48px; height:48px;;.x-icon-48_xingye;}
.icon-48_youzheng{width: 48px; height:48px;;.x-icon-48_youzheng;}
.icon-48_zhaoshang{width: 48px; height:48px;;.x-icon-48_zhaoshang;}
.icon-48_zhongguo{width: 48px; height:48px;;.x-icon-48_zhongguo;}
.icon-48_zhongxin{width: 48px; height:47px;;.x-icon-48_zhongxin;}
.icon-60_download{width: 60px; height:60px;;.x-icon-60_download;}
.icon-60_home{width: 60px; height:60px;;.x-icon-60_home;}
.icon-60_order{width: 60px; height:60px;;.x-icon-60_order;}
.icon-60_pay{width: 60px; height:60px;;.x-icon-60_pay;}
.icon-60_permissions{width: 60px; height:60px;;.x-icon-60_permissions;}
.icon-60_setting{width: 60px; height:60px;;.x-icon-60_setting;}
.icon-64_beijing{width: 64px; height:64px;;.x-icon-64_beijing;}
.icon-64_chrome{width: 64px; height:64px;;.x-icon-64_chrome;}
.icon-64_firefox{width: 64px; height:64px;;.x-icon-64_firefox;}
.icon-64_gongshang{width: 64px; height:64px;;.x-icon-64_gongshang;}
.icon-64_guangda{width: 64px; height:64px;;.x-icon-64_guangda;}
.icon-64_guangfa{width: 64px; height:64px;;.x-icon-64_guangfa;}
.icon-64_guojia{width: 64px; height:64px;;.x-icon-64_guojia;}
.icon-64_huaxia{width: 64px; height:64px;;.x-icon-64_huaxia;}
.icon-64_huifeng{width: 64px; height:64px;;.x-icon-64_huifeng;}
.icon-64_ie10{width: 64px; height:64px;;.x-icon-64_ie10;}
.icon-64_ie9{width: 64px; height:64px;;.x-icon-64_ie9;}
.icon-64_jianshe{width: 64px; height:64px;;.x-icon-64_jianshe;}
.icon-64_jiaotong{width: 64px; height:64px;;.x-icon-64_jiaotong;}
.icon-64_minsheng{width: 64px; height:64px;;.x-icon-64_minsheng;}
.icon-64_nongye{width: 64px; height:64px;;.x-icon-64_nongye;}
.icon-64_pufa{width: 64px; height:64px;;.x-icon-64_pufa;}
.icon-64_qita{width: 64px; height:64px;;.x-icon-64_qita;}
.icon-64_shenzhenfazhan{width: 64px; height:64px;;.x-icon-64_shenzhenfazhan;}
.icon-64_sogou{width: 64px; height:64px;;.x-icon-64_sogou;}
.icon-64_xingye{width: 64px; height:64px;;.x-icon-64_xingye;}
.icon-64_youzheng{width: 64px; height:64px;;.x-icon-64_youzheng;}
.icon-64_zhaoshang{width: 64px; height:64px;;.x-icon-64_zhaoshang;}
.icon-64_zhongguo{width: 64px; height:64px;;.x-icon-64_zhongguo;}
.icon-64_zhongxin{width: 64px; height:63px;;.x-icon-64_zhongxin;}
.icon-80_beijing{width: 80px; height:80px;;.x-icon-80_beijing;}
.icon-80_gongshang{width: 80px; height:80px;;.x-icon-80_gongshang;}
.icon-80_guangda{width: 80px; height:80px;;.x-icon-80_guangda;}
.icon-80_guangfa{width: 80px; height:80px;;.x-icon-80_guangfa;}
.icon-80_guojia{width: 80px; height:80px;;.x-icon-80_guojia;}
.icon-80_huaxia{width: 80px; height:80px;;.x-icon-80_huaxia;}
.icon-80_huifeng{width: 80px; height:80px;;.x-icon-80_huifeng;}
.icon-80_jianshe{width: 80px; height:80px;;.x-icon-80_jianshe;}
.icon-80_jiaotong{width: 80px; height:80px;;.x-icon-80_jiaotong;}
.icon-80_minsheng{width: 80px; height:80px;;.x-icon-80_minsheng;}
.icon-80_nongye{width: 80px; height:80px;;.x-icon-80_nongye;}
.icon-80_pufa{width: 80px; height:80px;;.x-icon-80_pufa;}
.icon-80_qita{width: 80px; height:80px;;.x-icon-80_qita;}
.icon-80_shenzhenfazhan{width: 80px; height:80px;;.x-icon-80_shenzhenfazhan;}
.icon-80_xingye{width: 80px; height:80px;;.x-icon-80_xingye;}
.icon-80_youzheng{width: 80px; height:80px;;.x-icon-80_youzheng;}
.icon-80_zhaoshang{width: 80px; height:80px;;.x-icon-80_zhaoshang;}
.icon-80_zhongguo{width: 80px; height:80px;;.x-icon-80_zhongguo;}
.icon-80_zhongxin{width: 80px; height:80px;;.x-icon-80_zhongxin;}
.ficon-home:before{.x-ficon-home;}
.ficon-order:before{.x-ficon-order;}
.ficon-pay:before{.x-ficon-pay;}
.ficon-setting :before{.x-ficon-setting ;}
.ficon-setting:before{.x-ficon-setting;}
.ficon-permissions:before{.x-ficon-permissions;}
.ficon-download:before{.x-ficon-download;}
.ficon-selfhelp:before{.x-ficon-selfhelp;}
.ficon-shanchi:before{.x-ficon-shanchi;}
.h_33_btn{height:33px;;.x-h_33_btn;}
.h_50_header{height:50px;;.x-h_50_header;}
.v_16_ruler{width:16px;;.x-v_16_ruler;}