.x-ficon-alarm(){content : "0";}
.x-ficon-backward(){content : "1";}
.x-ficon-bars(){content : "2";}
.x-ficon-bars2(){content : "3";}
.x-ficon-blocked(){content : "4";}
.x-ficon-book(){content : "5";}
.x-ficon-bookmark(){content : "6";}
.x-ficon-bookmarks(){content : "7";}
.x-ficon-books(){content : "8";}
.x-ficon-bubbles(){content : "9";}
.x-ficon-bullhorn(){content : "\0061";}
.x-ficon-calculate(){content : "\0062";}
.x-ficon-calendar(){content : "\0063";}
.x-ficon-calendar2(){content : "\0064";}
.x-ficon-cancel-circle(){content : "\0065";}
.x-ficon-cart(){content : "\0066";}
.x-ficon-checkmark(){content : "\0067";}
.x-ficon-checkmark-circle(){content : "\0068";}
.x-ficon-close(){content : "\0069";}
.x-ficon-cog(){content : "\006a";}
.x-ficon-coin(){content : "\006b";}
.x-ficon-list(){content : "\006c";}
.x-ficon-connection(){content : "\006d";}
.x-ficon-console(){content : "\006e";}
.x-ficon-contract(){content : "\006f";}
.x-ficon-undefined(){content : "\006f";}
.x-ficon-undefined(){content : "\006f";}
.x-ficon-contract2(){content : "\0070";}
.x-ficon-copy(){content : "\0071";}
.x-ficon-credit(){content : "\0072";}
.x-ficon-download(){content : "\0073";}
.x-ficon-enter(){content : "\0074";}
.x-ficon-expand(){content : "\0075";}
.x-ficon-expand2(){content : "\0076";}
.x-ficon-file(){content : "\0077";}
.x-ficon-file2(){content : "\0078";}
.x-ficon-file-excel(){content : "\0079";}
.x-ficon-file-pdf(){content : "\007a";}
.x-ficon-file-word(){content : "\0041";}
.x-ficon-first(){content : "\0042";}
.x-ficon-folder(){content : "\0043";}
.x-ficon-folder-open(){content : "\0044";}
.x-ficon-forward(){content : "\0045";}
.x-ficon-home(){content : "\0046";}
.x-ficon-image(){content : "\0047";}
.x-ficon-images(){content : "\0048";}
.x-ficon-info(){content : "\0049";}
.x-ficon-key(){content : "\004a";}
.x-ficon-keyboard(){content : "\004b";}
.x-ficon-laptop(){content : "\004c";}
.x-ficon-last(){content : "\004d";}
.x-ficon-gift(){content : "\004e";}
.x-ficon-undo(){content : "\004f";}
.x-ficon-undo2(){content : "\0050";}
.x-ficon-unlocked(){content : "\0051";}
.x-ficon-user(){content : "\0052";}
.x-ficon-users(){content : "\0053";}
.x-ficon-zoomin(){content : "\0054";}
.x-ficon-zoomout(){content : "\0055";}
.x-ficon-meter(){content : "\0056";}
.x-ficon-minus(){content : "\0057";}
.x-ficon-mobile(){content : "\0058";}
.x-ficon-mobile2(){content : "\0059";}
.x-ficon-newspaper(){content : "\005a";}
.x-ficon-pencil(){content : "我";}