@page-header-h : 110px;
@page-header-bg : #fff;
@page-header-line-bg : #f8f8f8;
@page-footer-h : 100px;
@page-footer-bg : #fff;
@page-footer-boder-color : #fbf6e5;
@page-body-bg : #fff;

body {

}

//======== Bootstrap override - Start =========
.control-label { color: @x-font-color-midGray }
.form-horizontal .control-label { padding-right: 0 }
.form-control { color: @x-base-font-color }
//======== Bootstrap override - End =========

/*登录页面布局*/
body.login {
	.ix-header {

	}
	.login-pic > img {
		.x-block(); width : 100%; height : 100%;
	}
	.panel-login {
		.auth-img {
			.x-inlineblock(); height : 32px; width : 68px;
		}
		#login_sub {
			width : 100%;
		}
	}
}

.ix-header {
	.x-area-size(100%, @page-header-h); background-color : @page-header-bg; border-color : transparent;
	> .container {margin-top : 15px;}
	.header-line {
		background-color : @page-header-line-bg; .x-adjust-leading-to(2.5, 1rem); vertical-align : middle;
		a {
			.x-inlineblock(); margin-right : 2rem; color : @x-base-font-color;
		}
		.hello, .user {.x-inlineblock(); margin-right : .3rem; color : @x-font-color-midGray; font-weight: 700;}
	}
	.ix-group-brand {
		float : left; font-size : 1.5rem; .x-adjust-leading-to(1.5, 1em); vertical-align: middle; padding : 15px 0;
	}
	.icon-pcclient {
		vertical-align: middle;  .x-icon-16_mobile(); .x-icon-size(16px); margin-right : 0.5rem;
	}
	.icon-jumpsite {
		vertical-align: middle;  .x-icon-16_go(); .x-icon-size(16px); margin-right : 0.5rem;
	}
	.nav-justified {
		width : 60%;
		a {
			padding : 10px 15px; margin-top : 10px; font-weight : 700;
		}
	}
	.links {
		padding : 15px;
		a {
			.x-inlineblock(); margin-right : 2rem;
		}
	}
}

// bootstrap原生的icon-bar类与我们工程的icon图标冲突，这里做一个适配。
.navbar-toggle .icon-bar {
	background-image : none;
}

@media (max-width: 767px) {
	.navbar-header, .navbar-collapse {background-color : @page-header-bg;}
	.ix-header .nav-justified {width : 100%;}
	.ix-header .nav-pills li {
		float : none;
	}
}
.ix-body {
	.x-area-size(100%, auto); background-color : @page-body-bg;
	> .container { 
		padding : @page-header-h 0 @page-footer-h; 
	}
}
.ix-footer {
	.x-area-size(100%, @page-footer-h); background-color : @page-footer-bg; border-top : 2px solid @page-footer-boder-color;
	.links, .copyright {
		padding : 30px 0 0; text-align : center; vertical-align: middle; .x-adjust-leading-to(1.5, 1em);
		color : @x-font-color-midGray;
		a {
			.x-inlineblock(); margin-right : 2.5rem; color : #89552E;
		}
	}
	.copyright {
		padding-top : 1.5rem;
	}
}

// Login Style
#ix_wrapper .ix-body .login-box {
	padding : 35px 0px; background: transparent;
	.login-pic > img {.x-area-size(100%, 100%);}
	.btn[name="login_sub"] {height : 46px;}
	.ix-authcode {
		width : 100%; .x-block();
		.auth-img {.x-area-size(68px, 32px); border : 0 none;}
		.progress {width : 68px; .x-inlineblock(); vertical-align: middle; margin : 0; margin-top : .5rem;}
	}
}

// Home Page Style
#ix_wrapper .ix-body .home-page {
	width : 100%;
	// Brick Layout
	@brick-columns : 6;
	@brick-height : 196px;
	@gutter : 10px;

	.calc-brick-column(@index, @class, @type) when (@type = width) and (@index > 0) {
		.home-brick-@{class}-@{index} {
			// width : percentage((@index / @brick-columns));
			// width : percentage((round(((@index / @brick-columns) * 1000)) / 1000));
			width : percentage(floor(@index / @brick-columns * 1000) / 1000)
		}
	}
	.loop-brick-columns(@index, @class, @type) when (@index >= 0) {
		.calc-brick-column(@index, @class, @type);
		// next iteration
		.loop-brick-columns((@index - 1), @class, @type);
	}
	&.home-brick {
		width : 100%; .x-clearfix(); .x-block();
		border : 0 none;
		// .x-fix-inlin-block-blank-spacing();
		[class*=home-brick-] {
			border : 0 none; .x-inlineblock(); .x-clearfix(); float : right;
			padding : @gutter / 2;
		}
		.loop-brick-columns(@brick-columns, md, width);
	}
	.brick-item {height : @brick-height; border : 0 none;}
	.brick-item-2 {height : (@brick-height * 2 + 10);}

	@shop-bg : rgb(0, 142, 176);
	@order-bg : rgb(252, 181, 65);
	@account-bg : rgb(241, 89, 42);
	@setting-bg : rgb(0, 66, 90);
	@user-bg : rgb(132, 82, 51);
	@pcclient-bg : rgb(95, 172, 160);
	@font-color : #fff;
	@ficon-size : 60px;
	.brick-item {
		color : @font-color; cursor : pointer;
		h3 {.x-font-size(18px); font-weight: bolder; .x-line-and-height(2, 1rem);}
		label {.x-font-size(14px); font-weight: bolder; .x-line-and-height(2, 1rem);}
		[class*=ficon] {.x-font-size(@ficon-size);}
		.ficon-home:before {.x-ficon-home();}
		.ficon-pay:before {.x-ficon-pay();}
		.ficon-order:before {.x-ficon-order();}
		.ficon-download:before {.x-ficon-download();}
		.ficon-lock:before {.x-ficon-permissions();}
		.ficon-setting:before {.x-ficon-setting();}
		&.disabled {
			.x-filter(.5); cursor : not-allowed;
		}
		&[data-pagename=shop] {
			background : @shop-bg;
			&.hover {
				background: fade(@shop-bg, 80%);
			}
		}
		&[data-pagename=order] {
			background : @order-bg;
			&.hover {
				background: fade(@order-bg, 80%);
			}
		}
		&[data-pagename=account] {
			background : @account-bg;
			&.hover {
				background: fade(@account-bg, 80%);
			}
		}
		&[data-pagename=setting] {
			background : @setting-bg;
			&.hover {
				background: fade(@setting-bg, 80%);
			}
		}
		&[data-pagename=user] {
			background : @user-bg;
			&.hover {
				background: fade(@user-bg, 80%);
			}
		}
		&[data-pagename=pcclient] {
			background : @pcclient-bg;
			&.hover {
				background: fade(@pcclient-bg, 80%);
			}
		}
	}

	.format {
		.x-inlineblock(); margin : 0 auto; position: relative; margin-left : (-1 * @ficon-size); height : @ficon-size; width : 100%; padding-left : 50%; text-align: left;
		span[class*=ficon] {.x-inlineblock(); position : absolute; left : 50%; top : 0; margin-left : (-1 * @ficon-size);}
		h3, p {position : relative; .x-block(); margin-left : 1rem;}
		h3 {margin-top : 1rem;}
	}
	.home-brick-md-1 .format {
		.x-block(); margin : 0 auto; padding : 0; height : 100%; text-align : center; vertical-align: middle;
		span[class*=ficon] {position : relative; left : 0; top : 0; margin : 0;}
		h3, p {margin : 0;}
	}
	@media (max-width: 767px) {
		.format {
			.x-block(); margin : 0 auto; padding : 0;height : 100%;  text-align : center; vertical-align: middle;
			span[class*=ficon] {position : relative; left : 0; top : 0; margin : 0;}
			h3, p {margin : 0;}
		}
	}
	
}
