@page-header-h : 110px;
@page-header-bg : #fff;
@page-header-line-bg : #f8f8f8;
@page-footer-h : 100px;
@page-footer-bg : #fff;
@page-footer-boder-color : #fbf6e5;
@page-body-bg : #fff;
@site-nav-bg : #BF8F68;
@site-nav-color : #89552E;
@site-logo-w : 300px;
@site-logo-h : 40px;
@x-gutter-size: 15px;

body {

}

/*通用布局样式*/
.m-t { margin-top: @x-gutter-size }  
.mt-12 { margin-top: 12px } 
.mt-13 { margin-top: 13px }          
.mt-14 { margin-top: 14px }       
.m-b { margin-bottom: @x-gutter-size }  
.mb-12 { margin-bottom: 12px } 
.mb-13 { margin-bottom: 13px }          
.mb-14 { margin-bottom: 14px }   
.d-b { .x-block() }
.d-i { display: inline }
.d-ib { .x-inlineblock() }
.t-l { .x-tl() }
.t-c { .x-tc() }
.t-r { .x-tr() }
.v-t { .x-vt() }
.v-m { .x-vm() }
.v-b { .x-vb() }
.ib-vt { .x-ib-vt() }
.ib-vm { .x-ib-vm() }
.ib-vb { .x-ib-vb() }
.t-label { .x-inlineblock(); margin-right: @x-gutter-size }

/*======== Bootstrap override - Start =========*/
.form-horizontal .control-label { padding-right: 0 }
/*======== Bootstrap override - End =========*/
.search-box 
{ 
    .glyphicon-search
    {
        top: 0; font-size: 20px; color: @x-font-color-lightGray;
        &:active { background: #fff }
    }
}


/*登录页面布局*/
body.login {
	.ix-header {

	}
	.login-pic > img {
		.x-block(); width : 100%; height : 100%;
	}
	.panel-login {
		.auth-img {
			.x-inlineblock(); height : 32px; width : 68px;
		}
		#login_sub {
			width : 100%;
		}
	}
}

.ix-header .container, .ix-body > .container
{ 
    padding-left: 0; padding-right: 0;
    @media (max-width: 768px)
    { margin-left: 15px; margin-right: 15px }
}

.ix-header {
	.x-area-size(100%, @page-header-h); background-color : @page-header-bg; border-color : transparent;
	> .container {margin-top : 15px;}
	.header-line {
		background-color : @page-header-line-bg; .x-adjust-leading-to(2.5, 1rem); vertical-align : middle;
		a {
			.x-inlineblock(); margin-right : 24px; color : @x-base-font-color;
		}
		.hello, .user {.x-inlineblock(); margin-right : 4px; color : @x-font-color-midGray; font-weight: 700;}
	}
	.ix-group-brand {
		float : left; .x-font-size(18px); font-weight: bold; .x-adjust-leading-to(1.5, 1em); vertical-align: middle; padding : 15px 0;
	}
	.icon-pcclient {
		.x-icon-16_mobile(); .x-icon-size(18px); margin-right : 6px; vertical-align: -4px;
	}
	.icon-jumpsite {
		.x-icon-16_go(); .x-icon-size(16px); margin-right : 6px; vertical-align: -4px;
	}
	.logo {
		padding-top : 10px;
		> img {.x-area-size(@site-logo-w, @site-logo-h);}
	}
	.nav-justified {
		width : 60%;
		a {
			padding : 10px 15px; margin-top : 10px; font-weight : 700;
		}
	}
	#site_navbar .nav-pills {
		> li > a {color : @site-nav-color; .x-font-size(16px);}
		> li.active > a, > li.active > a:hover, > li.active > a:focus {
			color : #fff;
			background-color : @site-nav-bg;
		}
		> li.disabled > a {
			color : lighten(#111, 40%);
		}
	}
	.links {
		padding : 15px;
		a {
			.x-inlineblock(); margin-right : 24px;
		}
	}
}

// bootstrap原生的icon-bar类与我们工程的icon图标冲突，这里做一个适配。
.navbar-toggle .icon-bar {
	background-image : none;
}

@media (min-width: 768px) and (max-width: 992px) {
	.ix-header {
		.logo {
			padding-top : 18px;
			> img {.x-area-size(@site-logo-w * 0.6, @site-logo-h * 0.6);}
		}
		#site_navbar .nav-pills > li > a {.x-font-size(14px);}
	}
}

@media (max-width: 767px) {
	.navbar-header, .navbar-collapse {background-color : @page-header-bg;}
	.ix-header .nav-justified {width : 100%;}
	.ix-header .nav-pills li {
		float : none;
	}
}
.ix-body {
	.x-area-size(100%, auto); background-color : @page-body-bg;
	> .container { 
		padding : @page-header-h 0 @page-footer-h; 
	}
}
.ix-footer {
	.x-area-size(100%, auto); background-color : @page-footer-bg; border-top : 2px solid @page-footer-boder-color; 
	.btn-toggle {
		@btn-height : 60px;
		position : relative; height : @btn-height; margin-top : -1 * @btn-height;
		> .toggle-icon {
			@arrow-size : 16px; 
			position : absolute; left : 50%; top : (-1 * @arrow-size * 2 + @btn-height); margin-left : (-1 * @arrow-size / 2); .x-arrow-up-style(@page-footer-boder-color, @arrow-size);
			/*.x-arrow-up-style(#111, @arrow-size);*/
			> span {margin-left:(-1 * @arrow-size); margin-top:(-1 * (@arrow-size - 1));.x-arrow-up-style(#fff, @arrow-size);}
		}
		
	}
	.footer-cnt {height : @page-footer-h;}
	.links, .copyright {
		padding : 30px 0 0; text-align : center; vertical-align: middle; .x-adjust-leading-to(1.5, 1em);
		color : @x-font-color-midGray;
		a {
			.x-inlineblock(); margin-right : 30px; color : #89552E;
		}
	}
	.copyright {
		padding-top : 8px;
	}
}

// Login Style
#ix_wrapper .ix-body .login-box {
	padding : 35px 0px; background: transparent;
	.login-pic > img {.x-area-size(100%, auto);}
	.btn[name="login_sub"],.btn[name="login_mobile"] {height : 46px;}
	.ix-authcode {
		width : 100%; .x-block();
		.auth-img {.x-area-size(68px, 32px); /*border : 0 none;*/ border : 1px solid transparent; .x-border-radius();}
		.progress {width : 68px; .x-inlineblock(); vertical-align: middle; margin : 0; margin-top : 6px;}
	}
	.panel-warning .form-group:last-child {margin-bottom : 0; margin-top : -1rem;}
}

// Home Page Style
#ix_wrapper .ix-body .home-page {
	width : 100%;
	// Brick Layout
	@brick-columns : 6;
	@brick-height : 196px;
	@gutter : 10px;

	.calc-brick-column(@index, @class, @type) when (@type = width) and (@index > 0) {
		.home-brick-@{class}-@{index} {
			// width : percentage((@index / @brick-columns));
			// width : percentage((round(((@index / @brick-columns) * 1000)) / 1000));
			width : percentage(floor(@index / @brick-columns * 1000) / 1000)
		}
	}
	.loop-brick-columns(@index, @class, @type) when (@index >= 0) {
		.calc-brick-column(@index, @class, @type);
		// next iteration
		.loop-brick-columns((@index - 1), @class, @type);
	}
	&.home-brick {
		width : 100%; .x-clearfix(); .x-block();
		border : 0 none;
		// .x-fix-inlin-block-blank-spacing();
		[class*=home-brick-] {
			border : 0 none; .x-inlineblock(); .x-clearfix(); float : right;
			padding : @gutter / 2;
		}
		.loop-brick-columns(@brick-columns, md, width);
	}
	.brick-item {height : @brick-height; border : 0 none;}
	.brick-item-2 {height : (@brick-height * 2 + 10);}

	@shop-bg : rgb(0, 142, 176);
	@order-bg : rgb(252, 181, 65);
	@account-bg : rgb(241, 89, 42);
	@setting-bg : rgb(0, 66, 90);
	@user-bg : rgb(132, 82, 51);
	@pcclient-bg : rgb(95, 172, 160);
	@font-color : #fff;
	@ficon-size : 60px;
	.brick-item {
		color : @font-color; cursor : pointer;
		h3 {.x-font-size(18px); font-weight: bolder; .x-line-and-height(2, 1rem);}
		label {.x-font-size(14px); font-weight: bolder; .x-line-and-height(2, 1rem);}
		// [class*=ficon] {.x-font-size(@ficon-size);}
		// .ficon-home:before {.x-ficon-home();}
		// .ficon-pay:before {.x-ficon-pay();}
		// .ficon-order:before {.x-ficon-order();}
		// .ficon-download:before {.x-ficon-download();}
		// .ficon-lock:before {.x-ficon-permissions();}
		// .ficon-setting:before {.x-ficon-setting();}
		[class*= icon] {.x-icon-size(60px);}
		.icon-home {.x-icon-60_home();}
		.icon-pay {.x-icon-60_pay();}
		.icon-order {.x-icon-60_order();}
		.icon-download {.x-icon-60_download();}
		.icon-lock {.x-icon-60_permissions();}
		.icon-setting {.x-icon-60_setting();}
		&.disabled {
			background-color : #eee!important; cursor : not-allowed;
			// .x-filter(.5);
		}
		&[data-pagename=shop] {
			background : @shop-bg;
			&.hover {
				background: fade(@shop-bg, 80%);
			}
		}
		&[data-pagename=order] {
			background : @order-bg;
			&.hover {
				background: fade(@order-bg, 80%);
			}
		}
		&[data-pagename=account] {
			background : @account-bg;
			&.hover {
				background: fade(@account-bg, 80%);
			}
		}
		&[data-pagename=setting] {
			background : @setting-bg;
			&.hover {
				background: fade(@setting-bg, 80%);
			}
		}
		&[data-pagename=user] {
			background : @user-bg;
			&.hover {
				background: fade(@user-bg, 80%);
			}
		}
		&[data-pagename=pcclient] {
			background : @pcclient-bg;
			&.hover {
				background: fade(@pcclient-bg, 80%);
			}
		}
		&[data-pagename=crmMemberSchema] {
			background : @setting-bg;
			&.hover {
				background: fade(@setting-bg, 80%);
			}
		}
	}

	.format {
		.x-inlineblock(); margin : 0 auto; position: relative; margin-left : (-1 * @ficon-size); height : @ficon-size; width : 100%; padding-left : 50%; text-align: left;
		// span[class*=ficon] {.x-inlineblock(); position : absolute; left : 50%; top : 0; margin-left : (-1 * @ficon-size);}
		span[class*=icon] {.x-inlineblock(); position : absolute; left : 50%; top : 0; margin-left : (-1 * @ficon-size);}
		h3, p {position : relative; .x-block(); margin-left : 12px;}
		h3 {margin-top : 12px;}
	}
	.home-brick-md-1 .format {
		.x-block(); margin : 0 auto; padding : 0; height : 100%; text-align : center; vertical-align: middle;
		// span[class*=ficon] {position : relative; left : 0; top : 0; margin : 0;}
		span[class*=icon] {position : relative; left : 0; top : 0; margin : 0;}
		h3, p {margin : 0;}
	}
	@media (max-width: 767px) {
		.format {
			.x-block(); margin : 0 auto; padding : 0;height : 100%;  text-align : center; vertical-align: middle;
			// span[class*=ficon] {position : relative; left : 0; top : 0; margin : 0;}
			span[class*=icon] {position : relative; left : 0; top : 0; margin : 0;}
			h3, p {margin : 0;}
		}
	}
	
}

// Support Box 
#ix_wrapper .support-box {
	.media {
		.icon-ie9, .icon-ie10, .icon-chrome, .icon-firefox, .icon-sogou { .x-icon-size(64px); }
		.icon-ie9 {.x-icon-64_ie9();}
		.icon-ie10 {.x-icon-64_ie10();}
		.icon-chrome {.x-icon-64_chrome();}
		.icon-firefox {.x-icon-64_firefox();}
		.icon-sogou {.x-icon-64_sogou();}
	}
}

// Statistic Page About，Contact
#ix_wrapper {
	@about-bg : #008fd5;
	@contact-bg : #fc0;
	.banner {
		.jumbotron {position : relative; padding : 0;}
		.jumbotron > .container {
			position: relative; height : 394px; padding-top : 0px;
			h1, p {position : absolute; .x-font-size(56px); font-weight: 400; }
		}
		.jumbotron .ad-pic {position : absolute;}
		.jumbotron .ad-pic.animation {
			-webkit-animation:fadeInDown 1s .2s ease both;
			-moz-animation:fadeInDown 1s .2s ease both;
		}
		@-webkit-keyframes fadeInDown{
			0%{opacity:0; -webkit-transform:translateY(-20px)}
			100%{opacity:1; -webkit-transform:translateY(0)}
		}
		@-moz-keyframes fadeInDown{
			0%{opacity:0; -moz-transform:translateY(-20px)}
			100%{opacity:1; -moz-transform:translateY(0)}
		}
		
	}
	.about-us, .contact-us, .download {
		margin-top : 120px;
		.desc {
			padding-top : 30px;
			h3 {margin-bottom : 32px; .x-font-size(18px); color : @x-font-color-midGray; font-weight: 700;}
			p, address {margin-bottom : 36px; color : @x-base-font-color; .x-font-size(14px); .x-adjust-leading-to(2, 12px); font-weight: 400; }
			.btn-success {margin-top: 24px; padding : 15px 80px; .x-font-size(32px);}
		}
	}
	.about-us {
		.jumbotron {
			background: @about-bg;
			> .container {
				p {left : 0; top : 0; margin-left : 90px; margin-top : 110px; .x-font-size(56px); font-weight: 400; color : #fff;}
			}
			.ad-pic {right : 90px; bottom : 0; .x-area-size(551px, 367px); background : url("../img/about_bg.png") no-repeat 0 0 transparent;}
		}
	}
	.contact-us {
		.jumbotron {
			background: @contact-bg;
			> .container {
				h1, p {position : absolute; left : 650px; top : 125px; .x-font-size(56px); color : darken(#89552E, 10%);}
				p {.x-font-size(36px); top : 206px;}
			}
			.ad-pic {left : 120px; bottom : 0; .x-area-size(511px, 367px); background : url("../img/contact_us.png") no-repeat 0 0 transparent;}
		}
	}
	.download {
		.jumbotron {
			> .container {
				h1, p {position : absolute; left : 120px; top : 125px; .x-font-size(56px); color : darken(#89552E, 10%);}
				p {.x-font-size(36px); top : 206px;}
			}
			.ad-pic {right : 40px; bottom : 20px; .x-area-size(511px, 367px); background : url("../img/pc_download.png") no-repeat 0 0 transparent;}
		}
	}
}


/*表单校验样式*/
.form-feedback-out {
	.has-feedback .form-control {padding-right : 12px;}
	.has-feedback .form-control-feedback {right : -17px;}
}
