@charset "UTF-8";
@x-base-font-size : 12px;
@x-base-font-family : Microsoft Yahei,Tahoma,Verdana,sans-serif,simsun,Arial;
@x-icon-font-name : "hllicons";	
@x-max-zIndex : 99999;

// 基础字色
@x-base-font-color : #333;
@x-font-color-midGray : #787878;
@x-font-color-lightGray : #999;


html,body{
	height:100%; font-family: @x-base-font-family; font-size : @x-base-font-size;
}
body, body *{ 
	margin: 0; padding: 0; border: 0; float:none;
}

textarea, input, select{
	vertical-align: middle; resize:none; outline:none;
}
li {
	list-style:none;
}

body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: @x-base-font-family;}

//======== Bootstrap override - Start =========
.control-label, .t-label { color: @x-font-color-midGray }
.form-control { color: @x-base-font-color }
//======== Bootstrap override - End =========


