// 店铺搜索栏UI组件
.shop-query {
	.filter {
		.x-block();  margin-bottom : 20px;
		.city, .area {
			.x-block(); padding-left : 4rem; .x-font-size(0px);
			> .label {.x-inlineblock(); width:4rem; margin-left : -4rem; padding : .5rem; vertical-align: middle; color : @x-font-color-midGray; .x-font-size(12px); .x-adjust-leading-to(1.1, 14px);}
			> .btn {font-weight: bold; .x-font-size(12px);}
			> .btn.disabled, > .btn[disabled] {.x-box-shadow-none(); color : @x-font-color-midGray; .x-filter(1); }			
			.num {.x-inlineblock(); margin-left:3px; vertical-align: 1px; .x-font-size(12px);  .x-adjust-leading-to(1, 14px);  font-style: normal;}
		}
	}
	.query {
		.x-block(); .x-area-size(100%, auto); margin-bottom : 20px;
		.input-group {min-width:150px; max-width : 300px;}
		.create-shop {max-width : 130px; margin-left : 1.5rem; margin: 8px 0;}
	}
}

// 店铺列表项
.shop-list-item {
	@shop-border : 1px solid #E7E7E7;
	@shop-name-size : 14px;
	border-bottom: @shop-border; margin-bottom : 1.5rem; .x-font-size(@x-base-font-size); color : @x-font-color-midGray;
	.shop-base-info {
		margin-bottom : 1.2rem;
		h4 {
			.x-font-size(@shop-name-size); color : @x-base-font-color; font-weight: bold; .x-adjust-leading-to(2.5, 12px);
		}
		.account {
			.x-adjust-leading-to(2.5, 12px);
			.account-label {
				color : @x-base-font-color; font-weight: bold; vertical-align: middle;
			}
			.account-name {vertical-align: middle;}
		}
		

	}
	.switcher-wrapper {
		> lable {font-weight: bold; color : @x-font-color-midGray;}
	}
	.shop-business {
		margin-bottom : 1.8rem;
		h4 {
			padding-left : 2.5rem; .x-font-size(@x-base-font-size); color : @x-base-font-color; .x-adjust-leading-to(2, 12px);
			text-align: left; font-weight: bold;
		}
		.btn {font-weight: bold;}
		p {
			 .x-adjust-leading-to(2, 12px);
		}
	}
	.icon-justeat_order {.x-inlineblock(); .x-icon-32_shanchi(); .x-icon-size(32px); vertical-align: middle; margin-right : 1.5rem;}
	.icon-spot_order {.x-inlineblock(); .x-icon-32_helpself(); .x-icon-size(32px); vertical-align: middle; margin-right : 1.5rem;}
}

// 店铺列表
.shop-list {
	.shop-list-body {
		
	}
	.shop-list-footer {

	}
}

// 店铺服务配置表单样式
.shop-service-form {
	.input-group-addon {/*.x-adjust-leading-to(2, 12px, 2px);*/}
	.section {
		// .max-input {padding-left : 30px;}
		.to-label {position : absolute; left : 0; top : 0; margin-left : -7px; vertical-align: middle; .x-adjust-leading-to(3, 12px);}

		// .input-group {padding-right : 22px;}
		.has-feedback .form-control {padding-right : 0;}
	}

	.has-feedback .form-control-feedback {
		right: -17px;
	}
}
// shop 公用样式
.mr25 { margin-right: 25px }
.mb50 { margin-bottom: 50px }
.fl { float: left; }
// callout组件，默认黄色 warning
.bs-callout 
{
    border: 1px solid #eee;
    border-left: 5px solid @color-warning;
    border-radius: 3px;
    &.shop-info-head 
    { 
        margin: 20px 0 10px 0; padding: 10px 20px;
        text-align: right; 
        .fl { margin-top: 2px; }
        .shop-name { color: @color-warning; font-size: 16px }
        .shop-name, a { margin-right: 25px; display: inline-block; }
        
    }
}

#resetCltPwdDlg
{
    .checkbox input { margin-top: 2px }
    @media (min-width: 768px)
    {
        .form-control-static { font-size: 16px; padding-top: 5px }
        .checkbox
        {
            padding-top: 0; margin-top: -10px;
            label { padding-left: 27px }
        }
    }
}

// 店铺详情页功能导航
.shop-func-nav
{
    .active a { cursor: default; }
}
// 表单的只读模式/编辑模式
form.read-mode, .form.read-mode
{
    .form-control, .star-required { display: none; }
    .form-control-feedback, .help-block
    { display: none!important; }
    .control-label:after { content: '：'; }
}
form.edit-mode, .form.edit-mode
{
    .form-control-static { display: none }
    .control-label:before { content: '* '; }
    .control-label.no-require:before { display: none }
}
// 表单验证反馈图标显示在表单外部
.feed-back-out
{
    .has-feedback .form-control { padding-right: 12px }
    .form-horizontal .has-feedback .form-control-feedback { right: -20px }
}
//创建店铺
#shopCreateWizard 
{ 
    .step-nav, .step-action { margin: 0 15px }
    .form-control.d-ib { width: 70px; }
    #tab1 { margin-top: 50px; margin-bottom: 50px }
    #tab3 
    {
        margin: 50px 15px; 
        > div { padding-left: 72px; }
        h4 { color: @color-success; font-size: 20px; font-weight: bold }
        .x-ico-suc { margin: 0 12px 15px -64px; top: 6px }
        ul 
        { border-left: 4px solid #ccc; 
          position: relative; top: 30px; left: 4px;
        }
        li { position: relative; left: 25px; top: -15px; margin-bottom: 15px; }
        li:last-child { top: 0 }
        li:before 
        { content: '';
          position: absolute; left: -36px; top: 8px;
          width: 18px; height: 18px; 
          border: 6px solid @color-success;
          border-radius: 50%; background: #fff;
        }
        li:last-child:before { top: 0 }
        li a { width: 120px }
        li a:first-child { margin-right: 12px }
    }
    
}

#swfUploadImgDialog .modal-dialog { width: 485px }
.x-ico-suc
{   @size: 50px;
    .x-tc();
    font-size: @size / 2; color: @color-success;
    border-radius: @size / 2; border: 6px solid @color-success;
    width: @size; height: @size; line-height: @size * 0.8;
    &:before { position: relative; top: -2px; left: -2px }
}
//修改店铺信息

@media (max-width: 768px)
{
    .feed-back-out { margin: 0 20px }
    #uploadImg { text-align: left }
}
.shop-info 
{
    .form-control.d-ib { width: 70px; }
    .step-action { clear: left; margin-top: 40px }
    &.read-mode 
    {
        #saveBtn { display: none }
        .map-keyword { display: block }
    }
    &.edit-mode #editBtn { display: none }
    .map_canvas { height: 250px }
}









