// 店铺搜索栏UI组件
.shop-query {
	.filter {
		.x-block();  margin-bottom : 20px;
		.city, .area {
			.x-block(); padding-left : 4rem; .x-font-size(0px);
			> .label {.x-inlineblock(); width:4rem; margin-left : -4rem; padding : .5rem; vertical-align: middle; color : @x-font-color-midGray; .x-font-size(12px); .x-adjust-leading-to(1.1, 14px);}
			> .btn {font-weight: bold; .x-font-size(12px);}
			> .btn.disabled, > .btn[disabled] {.x-box-shadow-none(); color : @x-font-color-midGray; .x-filter(1); }			
			.num {.x-inlineblock(); margin-left:3px; vertical-align: 1px; .x-font-size(12px);  .x-adjust-leading-to(1, 14px);  font-style: normal;}
		}
	}
	.query {
		.x-block(); .x-area-size(100%, auto); margin-bottom : 20px;
		.input-group {min-width:150px; max-width : 300px;}
		.create-shop {max-width : 130px; margin-left : 1.5rem; margin: 8px 0;}
	}
}